<p>Cops</p>

Search By Name: <input ng-model="search.title"><br/>
Search By Language: <input ng-model="search.book.languagesName"><br/>
<ul>
    <li ng-repeat="book in books | filter:search" data-id="{{book.book.id}}">
        <img ng-if="book.book.hasCover == 1" ng-src="{{coverUrl(book.book.id, 100)}}">
        <span>{{book.title}}</span>
        <span style="font-style: italic">{{book.book.languagesName}}</span>
        <span>{{renderHTML(book.book.rating)}}</span>
    </li>
</ul>
<pre>{{books | json}}</pre>