<section class="row" ng-include="templates.book.url">
</section>

<section class="row">
    <h4>Read</h4>
    <ul class="list-inline">
        <li ng-repeat="format in book.data">
            <a class="btn btn-primary" ng-click="read(book.id, format.format)"><span>{{format.format}}</span></a>
        </li>
    </ul>
</section>

<section class="row">
    <h4>Download</h4>
    <ul class="list-inline">
        <li ng-repeat="format in book.data">
            <a class="btn btn-primary" ng-href="{{downloadUrl(book.id, format.format)}}"><span>{{format.format}}</span></a>
        </li>
    </ul>
</section>
