<img height="100" ng-if="book.coverUrl != null" ng-src="{{coverUrl(book.id, 100)}}"><br/>
<span>{{book.title}}</span>
<div>Authors: <span ng-repeat="author in book.authors">{{author}}</span></div>
<div ng-if="book.rating > 0">Rating: <span>({{book.rating}})</span></div>
<div ng-if="book.languages">Languages: <span ng-repeat="language in book.languages">{{language}}</span></div>

<ul class="list-inline">
    <li ng-repeat="format in book.data">
        <a class="btn btn-primary" ng-href="{{downloadUrl(book.id, format.format)}}"><span>{{format.format}}</span></a>
    </li>
</ul>
<br/>
<!--<span style="font-style: italic">{{book.book.languagesName}}</span>-->
